version: '3.8'

services:
  app_proxy:
    environment:
      APP_HOST: denny-owncloud_server_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  server:
    image: owncloud/server:latest@sha256:257aa15415892d8abc2258468d37672b9a71327d1e59562f84db827fdd7150af
    restart: unless-stopped
    depends_on:
      - mariadb
      - redis
    environment:
      - OWNCLOUD_DOMAIN=umbrel.local:8080
      - OWNCLOUD_TRUSTED_DOMAINS=umbrel.local,umbrel,localhost
      - OWNCLOUD_DB_TYPE=mysql
      - OWNCLOUD_DB_NAME=owncloud
      - OWNCLOUD_DB_USERNAME=owncloud
      - OWNCLOUD_DB_PASSWORD=owncloud
      - OWNCLOUD_DB_HOST=mariadb
      - OWNCLOUD_ADMIN_USERNAME=admin
      - OWNCLOUD_ADMIN_PASSWORD=admin
      - OWNCLOUD_MYSQL_UTF8MB4=true
      - OWNCLOUD_REDIS_ENABLED=true
      - OWNCLOUD_REDIS_HOST=redis
      - OWNCLOUD_LOG_LEVEL=2
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${APP_DATA_DIR}/data:/mnt/data
      - ${APP_DATA_DIR}/config:/var/www/html/config

  mariadb:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=owncloud
      - MYSQL_USER=owncloud
      - MYSQL_PASSWORD=owncloud
      - MYSQL_DATABASE=owncloud
      - MARIADB_AUTO_UPGRADE=1
    command: ["--max-allowed-packet=128M", "--innodb-log-file-size=64M"]
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u", "root", "--password=owncloud"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${APP_DATA_DIR}/mysql:/var/lib/mysql

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    command: ["--databases", "1"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${APP_DATA_DIR}/redis:/data
